[submodule "ordering-microservice"]
	path = ordering-microservice
	url = https://github.com/fysabelah/ordering-microservice.git
[submodule "registration-discovery-services"]
	path = registration-discovery-services
	url = https://github.com/fysabelah/registration-discovery-services.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/fysabelah/gateway.git
[submodule "tracking-microservice"]
	path = tracking-microservice
	url = https://github.com/erickmatheusribeiro/tracking-microservice.git
[submodule "costumers-microservice"]
	path = costumers-microservice
	url = https://github.com/AydanAmorim/costumers-microservice.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/DFaccio/products-microservice.git
